/* global */
body {
  background-color: grey;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.container {
  text-align: center;
}
.header {
}
.logo img {
  width: 20%;
}

/* index */
.username {
  color: rgb(225, 0, 255);
  display: inline;
  position: relative;
  left: 20px;
}
.navigation {
}
.nav-link {
  color: white;
  text-decoration: none;
  margin: 20px;
}
.alerts {
  margin: 50px;
}
.logged-alert {
  color: white;
}
.email-alert {
  color: white;
}

/* Downloads */

.list {
  text-align: center;
  list-style: none;
}
.list a {
  color: white;
  text-decoration: none;
  margin: 50px;
  display: block;
}

/* forms */
.form {
  color: white;
}
.form-group {
  display: inline-block;
  width: 150px;
}
.btn {
  float: right;
}
.form-alerts {
  color: white;
  list-style: none;
  text-align: center;
}
.form-alert {
  margin: 5px;
}
.form-dir {
  color: white;
  text-decoration: none;
  margin: 30px;
}
.form-dir a {
  color: white;
  text-decoration: none;
}
.info a {
  color: white;
  text-decoration: none;
}
