/* global */

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.container {
  text-align: center;
}
.header {
}
.logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin: 50px 0px;
}

/* index */

.username {
  color: rgb(222, 222, 222);
  display: inline;
  position: relative;
  left: 20px;
}
.verified {
  color: rgb(255, 0, 255);
  display: inline;
  position: relative;
  left: 20px;
}
.navigation {
}
.nav-link {
  color: white;
  text-decoration: none;
  margin: 20px;
}
.alerts {
  margin: 50px;
}
.logged-alert {
  color: white;
}
.email-alert {
  color: white;
}

/* Downloads */

.list {
  text-align: center;
  list-style: none;
  color: white;
  text-decoration: none;
  margin: 50px;
  display: block;
}
/* .list a {
  color: white;
  text-decoration: none;
  margin: 50px;
  display: block;
} */

/* forms */

.form {
  color: white;
  /* margin: 150px; */
}
.form-group {
  display: inline-block;
  width: 177px;
}
.btn {
  float: right;
}
.form-alerts {
  color: white;
  list-style: none;
  text-align: center;
}
.form-alert {
  margin: 5px;
}
.form-dir {
  color: white;
  text-decoration: none;
  margin: 30px;
}
.form-dir a {
  color: white;
  text-decoration: none;
}
.info a {
  color: white;
  text-decoration: none;
}
