/* global */

body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
  flex: 1;
}
.container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 87vh;
}
.header {
  position: relative;
}
.logo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin: 50px 0px;
}

/* index */

.status {
  display: inline;
  position: absolute;
 /*  width: 50px;
  height: 50px; */
} 
h2.status-username {
  display: inline;
  position: relative;
  color: rgb(222, 222, 222);
  float: left;
  /* left: 20px; */
  margin: 20px;
}
h2.status-verified {
  display: inline;
  position: absolute;
  color: rgb(255, 0, 255);
  float: left;
  /* left: 20px; */
}

.navigation {
  
}
.nav-link {
  color: white;
  text-decoration: none;
  margin: 20px;
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  margin: 20px;
}
a.nav-link-grey {
  color:grey;
  text-decoration: none;
  margin: 20px;
}
a.nav-link-grey:hover {
  color:rgba(128, 128, 128, 0.9);
}
a.nav-link-red {
  color:red;
  text-decoration: none;
  margin: 20px;
}
a.nav-link-red:hover {
  color: rgba(255, 0, 0, 0.9);
}
.alerts {
  margin: 50px;
}
.logged-alert {
  color: white;
  font-size: 75%;
}
.email-alert {
  color: white;
  font-size: 75%;
}

/* Lists */

.list-members {
  width: 100px;
	margin: 100px auto;
}
.list-members ul{
  display: inline-block;
  padding: 0;
  margin: 0;
}
.list-members li{
  display: block;
  padding: 5px;
  float: left;
}
.list-members a{
  text-decoration: none;
  color: white;
}
.list-members a:hover{
  color: red;
}

.list-downloads {
  width: 100px;
	margin: 0px auto;
}
.list-members ul{
  display: inline-block;
  padding: 0;
  margin: 0;
}
.list-downloads li{
  display: block;
  padding: 5px;
  float: left;
}
.list-downloads a{
  text-decoration: none;
  color: white;
}

.list { /* generic list */
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
}

/* Forms */
.form-container {
  position: relative;
  margin: 50px;
}
.form {
  color: white;
  position: absolute;
  width:400px;
  right: 0;
  left: 0;
  top: 30%;
  margin: auto;
}
.form-group {
  display: inline-block;
  width: 177px;
}
.btn {
  float: right;
}
.resend-btn {
  border: none;
  background-color: transparent;
  outline: none;
}
.form-alerts {
  color: white;
  font-size: 75%;
  list-style: none;
  text-align: center;
  margin: 20px;
}
.form-alert {
  margin: 5px;
}
.form-dir {
  color: white;
  text-decoration: none;
  margin: 30px;
}
.form-dir a {
  color: white;
  text-decoration: none;
}
.info {
  margin: 0 auto;
}
.info p{

}
.media-vid {
  margin: 50px;
}
.login-motto p{
  display: inline-block;
  position: relative;
  color: rgb(46, 46, 46);
  margin: 125px; /* position relative to container? */
}
.footer {
  position: relative;
}
.footer-icon {
  display: block;
  position: relative;
  float: right;
}

::-moz-selection { 
  background: rgb(143, 143, 143);
}

::selection {
  background: rgb(143, 143, 143);
}